<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group13.nsrs.mapper.MajorMapper">

    <resultMap id="BaseResultMap" type="com.group13.nsrs.entity.Major">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="collegeId" column="college_id" jdbcType="BIGINT"/>
            <result property="collegeName" column="college_name" jdbcType="VARCHAR"/>
            <result property="majorDetail" column="major_detail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,college_id,
        college_name,major_detail
    </sql>
</mapper>
